[Unit]
Description=roms mount
After=systemd-fsck@dev-disk-by\x2duuid-e2c9c743\x2d80a5\x2d4671\x2dbb8e\x2d10a7079c2fa8.service
Requires=systemd-fsck@dev-disk-by\x2duuid-e2c9c743\x2d80a5\x2d4671\x2dbb8e\x2d10a7079c2fa8.service
# the documentation says this is implicit but `systemctl show` disagreed
BindsTo=dev-disk-by\x2duuid-e2c9c743\x2d80a5\x2d4671\x2dbb8e\x2d10a7079c2fa8.device

[Mount]
What=/dev/disk/by-uuid/e2c9c743-80a5-4671-bb8e-10a7079c2fa8
Where=/run/media/roms
Type=btrfs
Options=defaults
