[Unit]
Description=MQTT broker
After=network.target

[Container]
ContainerName=emqx
Image=docker.io/emqx/emqx-enterprise:6.0
AutoUpdate=registry
Network=brvirt:host_interface_name=veth_emqx,mac=66:ab:ac:cc:1b:8e,ip6=fd33:1491:4cfa:f000::8006
Sysctl=net.ipv4.ip_unprivileged_port_start=0
Volume=/usr/local/share/emqx/emqx.conf:/opt/emqx/etc/emqx.conf:ro
Volume=/usr/local/share/ca-main.pem:/opt/emqx/etc/certs/cacert.pem:ro
Secret=emqx_admin_password
Secret=emqx_https_cert,target=/opt/emqx/etc/certs/cert.pem
Secret=emqx_https_key,target=/opt/emqx/etc/certs/key.pem

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target
