[Unit]
Description=freshrss-database
After=network.target

[Container]
ContainerName=freshrss-database
Image=docker.io/postgres:18
Network=brvirt:host_interface_name=veth_frss_db
Volume=freshrss_database:/var/lib/postgresql:idmap
Environment=POSTGRES_DB=freshrss
Environment=POSTGRES_USER=freshrss
Environment=POSTGRES_PASSWORD=freshrss

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target
