[Unit]
Description=gitmirror
After=network.target

[Container]
ContainerName=gitmirror
Image=ghcr.io/m1cha/gitmirror:latest
AutoUpdate=registry
Network=brvirt:host_interface_name=veth_gitmirror
DNS=none
Volume=/usr/local/share/resolv-inet.conf:/etc/resolv.conf:ro,idmap,z
Exec= \
    -d /media/data \
    -u M1cha \
    -o efidroid \
    -o grub4android \
    -o ridephysics \
    --exclude M1cha/proprietary_vendor_xiaomi
Volume=gitmirror:/media/data:idmap,z,nocopy
Environment=RUST_LOG=info
