[Unit]
Description=Gotify
After=network.target

[Container]
ContainerName=gotify
Image=docker.io/gotify/server:2.5
AutoUpdate=registry
Network=brvirt:host_interface_name=veth_gotify,mac=8e:cc:7e:8a:4e:10
Secret=gotify_https_cert
Secret=gotify_https_key
Volume=gotify_data:/app/data:idmap,z,nocopy

Environment=GOTIFY_SERVER_SSL_ENABLED=true
Environment=GOTIFY_SERVER_SSL_CERTFILE=/run/secrets/gotify_https_cert
Environment=GOTIFY_SERVER_SSL_CERTKEY=/run/secrets/gotify_https_key

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target
