[Unit]
Description=immich-redis
After=network.target

[Container]
ContainerName=immich-redis
Image=docker.io/valkey/valkey:8-bookworm@sha256:fec42f399876eb6faf9e008570597741c87ff7662a54185593e74b09ce83d177
Network=brvirt:host_interface_name=veth_imm_red
Tmpfs=/data

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target
