[Unit]
Description=immich traefik
After=network.target immich-server.service

[Container]
ContainerName=immich-traefik
Image=docker.io/traefik:latest
AutoUpdate=registry
Network=podman:mac=00:16:3e:42:42:29
Network=ipvlan:ip=192.168.43.65,interface_name=pub0
Annotation=local.nftables=immich-traefik
Volume=/usr/local/share/immich-traefik:/etc/traefik:ro,idmap,z
Volume=immich_traefik:/run/storage:idmap,z,nocopy
Secret=immich_traefik_cf_dns_api_token,type=env,target=CF_DNS_API_TOKEN
Secret=immich_traefik_cf_zone_api_token,type=env,target=CF_ZONE_API_TOKEN

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
