[Unit]
Description=immich-redis
After=network.target

[Container]
ContainerName=immich-redis
Image=docker.io/valkey/valkey:9@sha256:fb8d272e529ea567b9bf1302245796f21a2672b8368ca3fcb938ac334e613c8f
Network=brvirt:host_interface_name=veth_imm_red
Tmpfs=/data

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target
