[Unit]
Description=Jellyfin traefik
After=network.target jellyfin.service

[Container]
ContainerName=jellyfin-traefik
Image=docker.io/traefik:latest
AutoUpdate=registry
Network=brvirt:host_interface_name=veth_jelly_prox,ip6=fd33:1491:4cfa:f000::8001
DNS=none
Volume=/usr/local/share/resolv-inet.conf:/etc/resolv.conf:ro,idmap,z
Volume=/usr/local/share/jellyfin-traefik:/etc/traefik:ro,idmap,z
Volume=jellyfin_traefik:/run/storage:idmap,z,nocopy
Secret=jellyfin_traefik_cf_dns_api_token,type=env,target=CF_DNS_API_TOKEN
Secret=jellyfin_traefik_cf_zone_api_token,type=env,target=CF_ZONE_API_TOKEN

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target
