[Unit]
Description=libvirt

[Container]
ContainerName=libvirt
Image=localhost/libvirt:latest
Network=none
UserNS=host
PodmanArgs=--privileged
AddDevice=/dev/kvm:/dev/kvm:rw
AddDevice=/dev/vfio:/dev/vfio:rw
Volume=libvirt_config:/etc/libvirt:idmap,z
Volume=libvirt_data:/var/lib/libvirt:idmap,z
Volume=/lib/modules:/lib/modules:idmap,ro
SecurityLabelDisable=true

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target
