[Unit]
Description=linzenich-workload
After=network.target

[Container]
ContainerName=linzenich-workload
Image=localhost/homeserver-universal:latest
AutoUpdate=local
Network=brvirt:host_interface_name=veth_linzen_wl
DNS=none
Volume=/usr/local/share/resolv-inet.conf:/etc/resolv.conf:ro,idmap,z
Entrypoint=/user-init
Volume=/usr/local/share/linzenich-workload/user-init:/user-init:ro,idmap,z

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target
