[Unit]
Description=linzenich-workload
After=network.target

[Container]
ContainerName=linzenich-workload
Image=localhost/homeserver-universal:latest
AutoUpdate=local
Network=brvirt:host_interface_name=veth_linzen_wl
DNS=none
Volume=/usr/local/share/resolv-inet.conf:/etc/resolv.conf:ro,idmap,z
Entrypoint=/user-init
Volume=/usr/local/share/linzenich-workload/user-init:/user-init:ro,idmap,z
Volume=/usr/local/share/ca-mqtt.pem:/etc/ssl/mqtt-ca.crt:ro
Secret=linzenich_workload_mqtt_cert
Secret=linzenich_workload_mqtt_key

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target
