[Unit]
Description=mailhog
After=network.target

[Container]
ContainerName=mailhog
Image=localhost/homeserver-universal:latest
AutoUpdate=local
Network=podman:mac=00:16:3e:42:42:16
Volume=mailhog:/maildir:idmap,z,nocopy
Environment=MH_STORAGE=maildir
Environment=MH_MAILDIR_PATH=/maildir
Environment=MH_AUTH_FILE=/maildir/auth
Exec=/usr/local/bin/mailhog

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
