[Unit]
Description=mailrise
After=network.target

[Container]
ContainerName=mailrise
Image=ghcr.io/m1cha/mailrise:1
AutoUpdate=registry
Network=brvirt:host_interface_name=veth_mailrise
Volume=/run/mailrise/mailrise.conf:/etc/mailrise.conf:ro,idmap,z
Volume=/usr/local/share/ca-main.pem:/usr/local/share/ca-certificates/homeserver-ca.crt:ro
Volume=/usr/local/share/mailrise/user-init:/user-init:ro,idmap,z
Environment=REQUESTS_CA_BUNDLE=/etc/ssl/certs/ca-certificates.crt
Entrypoint=/user-init
User=0

[Service]
Restart=always
RestartMode=direct
RestartSec=10
ExecStartPre=process-secret-template \
	/usr/local/share/mailrise/mailrise.conf \
	/run/mailrise/mailrise.conf \
	mailrise_gotify_token

[Install]
WantedBy=multi-user.target
