[Unit]
Description=MQTT broker
After=network.target

[Container]
ContainerName=mosquitto
Image=docker.io/eclipse-mosquitto:2.0
AutoUpdate=registry
Network=podman:mac=00:16:3e:42:42:21
Volume=/usr/local/share/mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
