[Unit]
Description=rclone backup
After=network.target

[Container]
ContainerName=rclone-backup
Image=localhost/homeserver-universal:latest
AutoUpdate=local
Network=brvirt:host_interface_name=veth_rclone
DNS=none
Volume=/usr/local/share/resolv-inet.conf:/etc/resolv.conf:ro,idmap,z
Environment=RCLONE_CONFIG=/run/config/rclone.conf
HostName=homeserver
Exec=restic \
    -r rclone:main:backup \
    --password-file /run/secrets/rclone_backup_credentials \
    --verbose \
    backup \
    /run/media/data \
    /run/media/syncthing/pixel8/synced \
    --exclude /run/media/data/bitwarden_config/logs

# secrets
Secret=rclone_backup_credentials
Volume=rclone_backup:/run/config:idmap,z

# backup sources
Volume=bitwarden_config:/run/media/data/bitwarden_config:ro,idmap,z
Volume=bitwarden_db:/run/media/data/bitwarden_db:ro,idmap,z
Volume=syncthing:/run/media/syncthing:ro,idmap,z
