[Unit]
Description=restic rest server
After=network.target run-media-resticbackup.mount
BindsTo=run-media-resticbackup.mount

[Container]
ContainerName=restic-backup-1
Image=ghcr.io/m1cha/restic-rest-server:latest
AutoUpdate=registry
Network=podman:mac=00:16:3e:42:42:0b
Network=ipvlan:ip=192.168.43.55,interface_name=pub0
Annotation=local.nftables=restic-backup-1
Volume=/run/media/resticbackup:/media/data:idmap,z
Volume=/usr/local/share/ca-restic.pem:/run/config/ca.pem:ro
Secret=restic_backup_1_ssl_cert
Secret=restic_backup_1_ssl_key

Environment=DATA_DIRECTORY=/media/data/1200
Environment=DISABLE_AUTHENTICATION=1
Environment="OPTIONS=--tls --tls-cacert /run/config/ca.pem --tls-cert /run/secrets/restic_backup_1_ssl_cert --tls-key /run/secrets/restic_backup_1_ssl_key"

[Install]
WantedBy=dev-disk-by\x2dpartlabel-restic\x2dbackup.device
