[Unit]
Description=Restic powerup
After=network.target homeassistant.service
Requires=homeassistant.service

[Container]
ContainerName=restic-powerup
Image=localhost/homeserver-universal:latest
AutoUpdate=local
Network=brvirt:host_interface_name=veth_restic_pwr
Exec=sh -euc 'update-ca-certificates && socat -u tcp-listen:80,fork system:/opt/restic-powerup/run'
Volume=/usr/local/share/ca-main.pem:/usr/local/share/ca-certificates/homeassistant-ca.crt:ro,idmap,z
Volume=/usr/local/share/restic-powerup:/opt/restic-powerup:ro,idmap,z
Secret=restic_powerup_homeassistant_token

[Service]
Restart=always
RestartMode=direct
RestartSec=10
# SIGTERM
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
