[Unit]
Description=restic rest server
After=network.target run-media-resticbackup.mount
BindsTo=run-media-resticbackup.mount

[Container]
ContainerName=restic-backup-1
Image=ghcr.io/m1cha/restic-rest-server:v0.2.1
AutoUpdate=registry
Network=brvirt:host_interface_name=veth_restic_b1
Volume=/run/media/resticbackup:/media/data:idmap,z
Volume=/usr/local/share/ca-restic.pem:/run/config/ca.pem:ro
Secret=restic_backup_1_ssl_cert
Secret=restic_backup_1_ssl_key

Environment=DATA_DIRECTORY=/media/data/1200
Environment=DISABLE_AUTHENTICATION=1
Environment="OPTIONS=--tls --tls-cacert /run/config/ca.pem --tls-cert /run/secrets/restic_backup_1_ssl_cert --tls-key /run/secrets/restic_backup_1_ssl_key"

[Install]
WantedBy=dev-disk-by\x2dpartlabel-restic\x2dbackup.device
