[Unit]
Description=archive share
After=network.target run-media-archive.mount run-media-media.mount
Requires=run-media-archive.mount run-media-media.mount

[Container]
ContainerName=share-archive
Image=localhost/homeserver-universal:latest
AutoUpdate=local
Network=brvirt:host_interface_name=veth_archshare
Entrypoint=/user-init
SecurityLabelDisable=true
Volume=share_archive_ssh_hostkeys:/var/lib/ssh-hostkeys:idmap
Volume=/usr/local/share/share-archive/user-init:/user-init:ro,idmap,z
Volume=/usr/local/share/share-archive/sshd.conf:/etc/ssh/sshd_config.d/container.conf:ro,idmap,z
Volume=/usr/local/share/share-archive/authorized_keys:/root/.ssh/authorized_keys:ro,idmap,z

# share
Volume=/run/media/archive:/mnt/archive:rw,idmap
Volume=/run/media/archive/googledrive:/mnt/archive/googledrive:ro,idmap
Volume=/run/media/media:/mnt/media:rw,idmap

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
