[Unit]
Description=UniFi
After=network.target

[Container]
ContainerName=unifi
Image=localhost/unifi:latest
AutoUpdate=local
Network=brvirt:host_interface_name=veth_unifi,mac=8e:cc:7e:8a:4e:11,ip6=fd33:1491:4cfa:f000::8008,ip=10.92.1.202
Volume=unifi:/var/lib/unifi:idmap,z,nocopy
Volume=/usr/local/share/unifi:/run/media/config:ro,idmap,z
Entrypoint=/run/media/config/run
Secret=unifi_ssl_cert
Secret=unifi_ssl_key

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target
