[Unit]
Description=Zigbee2MQTT
After=network.target

[Container]
ContainerName=zigbee2mqtt
Image=ghcr.io/koenkk/zigbee2mqtt
Network=brvirt:host_interface_name=veth_z2m,mac=8e:cc:7e:8a:4e:15
Sysctl=net.ipv4.ip_unprivileged_port_start=0
Secret=zigbee2mqtt_https_cert
Secret=zigbee2mqtt_https_key
Volume=zigbee2mqtt_data:/app/data:idmap,z,nocopy
Environment=ZIGBEE2MQTT_CONFIG_SERIAL_ADAPTER=zstack
Environment=ZIGBEE2MQTT_CONFIG_SERIAL_PORT=/dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
Environment=ZIGBEE2MQTT_CONFIG_SERIAL_BAUDRATE=115200
Environment=ZIGBEE2MQTT_CONFIG_MQTT_SERVER=mqtt://emqx:1883
Environment=ZIGBEE2MQTT_CONFIG_MQTT_CLIENT_ID=zigbee2mqtt
Environment=ZIGBEE2MQTT_CONFIG_ADVANCED_CHANNEL=15
Environment=ZIGBEE2MQTT_CONFIG_HOMEASSISTANT_ENABLED=true
Environment=ZIGBEE2MQTT_CONFIG_FRONTEND_ENABLED=true
Environment=ZIGBEE2MQTT_CONFIG_FRONTEND_PORT=443
Environment=ZIGBEE2MQTT_CONFIG_FRONTEND_URL=https://zigbee2mqtt.home.arpa
Environment=ZIGBEE2MQTT_CONFIG_FRONTEND_SSL_CERT=/run/secrets/zigbee2mqtt_https_cert
Environment=ZIGBEE2MQTT_CONFIG_FRONTEND_SSL_KEY=/run/secrets/zigbee2mqtt_https_key

# zigbee dongle
AddDevice=/dev/serial/by-id/usb-1a86_USB_Serial-if00-port0:/dev/serial/by-id/usb-1a86_USB_Serial-if00-port0:rw

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target
