[Unit]
Description=bitwarden database
After=network.target

[Container]
ContainerName=bitwarden-mariadb
Image=docker.io/mariadb:10
Label=io.containers.autoupdate=registry
Network=podman:mac=00:16:3e:42:42:14
PodmanArgs=--mount type=bind,src=/var/containerbind/bitwarden-mariadb,dst=/var/lib/mysql,rw,idmap,relabel=shared

Environment=MARIADB_USER=bitwarden
Environment=MARIADB_PASSWORD=super_strong_password
Environment=MARIADB_DATABASE=bitwarden_vault
Environment=MARIADB_RANDOM_ROOT_PASSWORD=true

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
