[Unit]
Description=gatus-postgres
After=network.target

[Container]
ContainerName=gatus-postgres
Image=docker.io/postgres
Network=podman:mac=00:16:3e:42:42:2d
Volume=gatus-pgdata:/var/lib/postgresql/data:idmap
Environment=POSTGRES_PASSWORD=postgres
Environment=POSTGRES_USER=postgres
Environment=POSTGRES_DB=gatus

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
