[Unit]
Description=gitmirror
After=network.target

[Container]
ContainerName=gitmirror
Image=ghcr.io/m1cha/gitmirror:latest
Label=io.containers.autoupdate=registry
Network=podman:mac=00:16:3e:42:42:11
Exec= \
    -d /media/data \
    -u M1cha \
    -o efidroid \
    -o grub4android \
    -o ridephysics \
    --exclude M1cha/proprietary_vendor_xiaomi
PodmanArgs=--mount type=bind,src=/var/containerbind/gitmirror,dst=/media/data,idmap,relabel=shared
Environment=RUST_LOG=info
