[Unit]
Description=immich-redis
After=network.target

[Container]
ContainerName=immich-redis
Image=docker.io/redis:6.2-alpine@sha256:afb290a0a0d0b2bd7537b62ebff1eb84d045c757c1c31ca2ca48c79536c0de82
Network=podman:mac=00:16:3e:42:42:27

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
