[Unit]
Description=immich traefik
After=network.target photoprism.service

[Container]
ContainerName=immich-traefik
Image=docker.io/traefik:latest
Label=io.containers.autoupdate=registry
Network=podman:mac=00:16:3e:42:42:29,ip=10.88.42.65
EnvironmentFile=/opt/container-secrets/immich-traefik/env

# config
PodmanArgs=--mount type=bind,src=/opt/container-files/immich-traefik,dst=/etc/traefik,ro,idmap,relabel=shared

# secrets
Volume=immich-traefik:/media/config:idmap

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
