[Unit]
Description=immich-database
After=network.target

[Container]
ContainerName=immich-database
Image=registry.hub.docker.com/tensorchord/pgvecto-rs:pg14-v0.2.0@sha256:90724186f0a3517cf6914295b5ab410db9ce23190a2d9d0b9dd6463e3fa298f0
Network=podman:mac=00:16:3e:42:42:23
Volume=immich-pgdata:/var/lib/postgresql/data:idmap
Environment=POSTGRES_PASSWORD=postgres
Environment=POSTGRES_USER=postgres
Environment=POSTGRES_DB=immich

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
