[Unit]
Description=immich-database
After=network.target

[Container]
ContainerName=immich-database
Image=docker.io/tensorchord/pgvecto-rs:pg14-v0.1.11@sha256:0335a1a22f8c5dd1b697f14f079934f5152eaaa216c09b61e293be285491f8ee
Network=podman:mac=00:16:3e:42:42:23
Volume=immich-pgdata:/var/lib/postgresql/data:idmap
Environment=POSTGRES_PASSWORD=postgres
Environment=POSTGRES_USER=postgres
Environment=POSTGRES_DB=immich

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
