[Unit]
Description=immich-machine-learning
After=network.target

[Container]
ContainerName=immich-machine-learning
Image=ghcr.io/immich-app/immich-machine-learning:release
Network=podman:mac=00:16:3e:42:42:25
Volume=immich-model-cache:/cache:idmap
EnvironmentFile=/opt/container-files/immich/env

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
