[Unit]
Description=immich-redis
After=network.target

[Container]
ContainerName=immich-redis
Image=registry.hub.docker.com/library/redis:6.2-alpine@sha256:84882e87b54734154586e5f8abd4dce69fe7311315e2fc6d67c29614c8de2672
Network=podman:mac=00:16:3e:42:42:27
Tmpfs=/data

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
