[Unit]
Description=influxdb server
After=network.target

[Container]
ContainerName=influxdb
Image=docker.io/influxdb:2.3-alpine
Label=io.containers.autoupdate=registry
Network=podman:mac=00:16:3e:42:42:02
PodmanArgs=--mount type=bind,src=/opt/container-secrets/influxdb,dst=/media/config,ro,idmap,relabel=shared
PodmanArgs=--mount type=bind,src=/var/containerbind/influxdb,dst=/var/lib/influxdb2,rw,idmap,relabel=shared
Tmpfs=/etc/influxdb2

Environment=DOCKER_INFLUXDB_INIT_MODE=setup
Environment=DOCKER_INFLUXDB_INIT_USERNAME=admin
Environment=DOCKER_INFLUXDB_INIT_PASSWORD=adminadmin
Environment=DOCKER_INFLUXDB_INIT_ORG=local
Environment=DOCKER_INFLUXDB_INIT_BUCKET=default-bucket
Environment=INFLUXD_TLS_CERT=/media/config/server.crt
Environment=INFLUXD_TLS_KEY=/media/config/server.key

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
