[Unit]
Description=Jellyfin traefik
After=network.target jellyfin.service
Requires=jellyfin.service

[Container]
ContainerName=jellyfin-traefik
Image=docker.io/traefik:latest
Label=io.containers.autoupdate=registry
Network=podman:mac=00:16:3e:42:42:18,ip=10.88.42.62
EnvironmentFile=/opt/container-secrets/jellyfin-traefik/env

# config
PodmanArgs=--mount type=bind,src=/opt/container-files/jellyfin-traefik,dst=/etc/traefik,ro,idmap,relabel=shared

# secrets
Volume=jellyfin-traefik:/media/config:idmap

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
