[Unit]
Description=pihole DNS server
After=network.target

[Container]
ContainerName=pihole
Image=docker.io/pihole/pihole:latest
Label=io.containers.autoupdate=registry
PodmanArgs=--entrypoint /user-init
PodmanArgs=--mount type=bind,src=/opt/container-files/pihole/lighttpd.conf,dst=/etc/lighttpd/external.conf,ro,idmap,relabel=shared
PodmanArgs=--mount type=bind,src=/opt/container-files/pihole/user-init,dst=/user-init,ro,idmap,relabel=shared
PodmanArgs=--mount type=bind,src=/opt/container-secrets/pihole,dst=/media/config,ro,idmap,relabel=shared
PodmanArgs=--mount type=bind,src=/var/containerbind/pihole_nvs,dst=/etc/pihole,rw,idmap,relabel=shared

Network=macvlan:mac=00:16:3e:42:42:01
PodmanArgs=--ip 192.168.43.3
PodmanArgs=--sysctl=net.ipv4.ip_forward=0
PodmanArgs=--sysctl=net.ipv6.conf.all.forwarding=0
PodmanArgs=--no-hosts

Environment=PIHOLE_INTERFACE=eth0
Environment=PIHOLE_DNS_1=8.8.8.8
Environment=PIHOLE_DNS_2=8.8.4.4
Environment=QUERY_LOGGING=true
Environment=INSTALL_WEB_SERVER=true
Environment=INSTALL_WEB_INTERFACE=true
Environment=LIGHTTPD_ENABLED=true
Environment=CACHE_SIZE=10000
Environment=DNS_FQDN_REQUIRED=true
Environment=DNS_BOGUS_PRIV=true
Environment=DNSMASQ_LISTENING=single
Environment=BLOCKING_ENABLED=true
Environment=REV_SERVER=true
Environment=REV_SERVER_CIDR=192.168.0.0/16
Environment=REV_SERVER_TARGET=192.168.43.1
Environment=REV_SERVER_DOMAIN=home.arpa

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
