[Unit]
Description=Promtail
After=network.target loki.service
Requires=loki.service

[Container]
ContainerName=promtail
Image=docker.io/grafana/promtail:latest
Exec=-config.file=/etc/promtail/config.yaml
Label=io.containers.autoupdate=registry
Network=podman:mac=00:16:3e:42:42:0a
PodmanArgs=--mount type=bind,src=/opt/container-files/promtail/config.yaml,dst=/etc/promtail/config.yaml,ro,idmap,relabel=shared
PodmanArgs=--mount type=bind,src=/var/log,dst=/media/hostlogs,ro,idmap
PodmanArgs=--security-opt label=disable

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
