[Unit]
Description=Restic autobackup
After=network.target restic-powerup.service run-media-archive.mount
Requires=restic-powerup.service run-media-archive.mount

[Container]
ContainerName=restic-autobackup
Image=localhost/homeserver-universal:latest
Label=io.containers.autoupdate=local
Network=podman:mac=00:16:3e:42:42:0d
Exec=/opt/restic-autobackup/run
PodmanArgs=--hostname homeserver
PodmanArgs=--security-opt label=disable

# scripts
PodmanArgs=--mount type=bind,src=/opt/container-files/restic-autobackup,dst=/opt/restic-autobackup,ro,idmap,relabel=shared

# persistent cache
PodmanArgs=--mount type=bind,src=/var/containerbind/restic-autobackup-cache,dst=/media/cache,idmap,relabel=shared
Environment=XDG_CACHE_HOME=/media/cache

# secrets
PodmanArgs=--mount type=bind,src=/opt/container-secrets/restic-autobackup,dst=/media/config,ro,idmap,relabel=shared

# backup sources
PodmanArgs=--mount type=bind,src=/var/containerbind/bitwarden,dst=/media/data/bitwarden,ro,idmap,relabel=shared
PodmanArgs=--mount type=bind,src=/var/containerbind/bitwarden-mariadb,dst=/media/data/bitwarden-mariadb,ro,idmap,relabel=shared
PodmanArgs=--mount type=bind,src=/var/containerbind/gitmirror,dst=/media/data/gitmirror,ro,idmap,relabel=shared
PodmanArgs=--mount type=bind,src=/var/containerbind/music,dst=/media/data/music,ro,idmap,relabel=shared
PodmanArgs=--mount type=bind,src=/var/containerbind/photo_backups,dst=/media/data/photo_backups,ro,idmap,relabel=shared
PodmanArgs=--mount type=bind,src=/var/containerbind/syncthing,dst=/media/data/syncthing,ro,idmap,relabel=shared
#PodmanArgs=--mount type=bind,src=/var/containerbind/homeassistant_config,dst=/media/data/homeassistant_config,ro,idmap,relabel=shared
PodmanArgs=--mount type=bind,src=/var/containerbind/synced_photos,dst=/media/data/synced_photos,ro,idmap,relabel=shared
PodmanArgs=--mount type=bind,src=/run/media/archive,dst=/media/data/archive,ro,idmap
