[Unit]
Description=roms nginx
After=network.target run-media-roms.mount
Requires=run-media-roms.mount

[Container]
ContainerName=roms-nginx
Image=docker.io/library/nginx:latest
Label=io.containers.autoupdate=registry
Network=podman:mac=00:16:3e:42:42:2b,ip=10.88.42.67
PodmanArgs=--mount type=bind,src=/opt/container-files/roms-nginx/default.conf,dst=/etc/nginx/conf.d/default.conf,ro,idmap,relabel=shared
PodmanArgs=--security-opt label=disable

PodmanArgs=--mount type=bind,src=/run/media/roms,dst=/mnt,ro,idmap

Exec=std2pipe nginx -g 'daemon off;'
PodmanArgs=--mount type=bind,src=/usr/local/bin/std2pipe,dst=/bin/std2pipe

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
