[Unit]
Description=smartmeter2mqtt
After=network.target

[Container]
ContainerName=smartmeter2mqtt
Image=ghcr.io/m1cha/smartmeter/smartmeter2mqtt/linux/arm64:latest
Label=io.containers.autoupdate=registry
Network=podman:mac=00:16:3e:42:42:22,ip=10.88.42.64
PodmanArgs=--mount type=bind,src=/opt/container-secrets/smartmeter2mqtt,dst=/media/config,rw,idmap,relabel=shared
PodmanArgs=--workdir /media/config
Exec=/media/config/config.toml

Environment=RUST_LOG=info

[Service]
Restart=always
RestartMode=direct
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
