[Unit]
Description=Syncthing
After=network.target

[Container]
ContainerName=syncthing
Image=docker.io/syncthing/syncthing
Label=io.containers.autoupdate=registry
Network=podman:mac=00:16:3e:42:42:06,ip=10.88.42.53
PodmanArgs=--mount type=bind,src=/var/containerbind/syncthing,dst=/var/syncthing,rw,idmap,relabel=shared

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target default.target
